set timeout=2
set default=0
insmod part_gpt
insmod fat
insmod ext2
insmod linux
insmod all_video
insmod search_fs_file
search --no-floppy --file --set=root /syslinux/vmlinuz.A
menuentry "FydeOS A (W4-820)" {
  linux /syslinux/vmlinuz.A init=/sbin/init rootwait ro noresume loglevel=4 noinitrd audit=0 cros_efi i915.enable_psr=0 i915.enable_fbc=0 i915.enable_dc=0 root=PARTUUID=7A3B48A6-4AA1-A944-BD0F-B3C8E0418870
  boot
}
