set timeout=0
set default=0
insmod part_gpt
insmod fat
insmod ext2
insmod linux
insmod all_video
insmod search_fs_file
search --no-floppy --file --set=root /syslinux/vmlinuz.A
menuentry "FydeOS A (ThinkPad10 20C1)" {
  linux /syslinux/vmlinuz.A init=/sbin/init rootwait ro noresume loglevel=7 noinitrd audit=0 console= i915.modeset=1 cros_efi root=PARTUUID=F2E33B09-C91E-4469-A3BB-6661E0367944
  boot
}
